---

---

<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
</div>

<style>
    a{
        background-color: aqua;
        text-decoration: none;
        padding: .5rem 1rem;
        margin: .3rem;
        color: rgb(65, 65, 65);
        border: solid 0.1px black;
        border-radius: 5px;
    }
    
    a:hover{
        background-color: aquamarine;
    }

</style>