---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>

a{
    background-color: #4c1d95;
    text-decoration: none;
    padding: .5rem 1rem;
    margin: .3rem;
    color: white;
    border: solid black 0.4px;
    border-radius: 5px;
}
a:hover{
    background-color: #4c1fcc;
}

</style>